#islogo {
    position: relative;
    left: 190px;
    top: 50px;
}

#dslogo {
    position: relative;
    left: 1580px;
    bottom: 60px;
}

#titre {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid rgb(75, 74, 74);
}

#titre2 {
    position: relative;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    top: 20px;
    border-top: 2px solid rgb(75, 74, 74);
}

.tt {
    position: relative;
    left: 780px;
    top: 55px;
    color: white;
    text-shadow: 0px 5px 20px black;
}

#tete {
    position: relative;
    left: 550px;
    bottom: 350px;
    box-shadow: 0px 5px 20px black;
    height: 230px;
    width: 800px;
}

body {
    width: 310px;
    height: 100px;
}

#glenn {
    position: relative;
    bottom: 350px;
    left: 65px;
    box-shadow: 0px 5px 20px;
    width: 370px;
    height: 800px;
}

#james {
    position: relative;
    bottom: 1150px;
    left: 1450px;
    box-shadow: 0px 5px 20px;
    width: 370px;
    height: 800px;
}

.taleau-style {
    position: relative;
    bottom: 1800px;
    left: 600px;
    border-collapse: collapse;
    min-width: 400px;
    width: 100px;
    height: 100px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    margin: 100px auto;
    border: 1px solid #046d31;
    text-align: center;
}

thead tr {
    background-color: rgb(4, 68, 33);
    color: #fff;
    text-align: center;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #046d31;
}

tbody tr:nth-child(even)  {
    background-color: #e2e2e2;
}

#partenaire {
    font-size: 30px;
    position: relative;
    bottom: 940px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 241, 231);
    text-shadow: 0px 5px 20px black;
    left: 790px;
}

.part {
    position: relative;
    bottom: 920px;
    left: 1px;
}

#grim {
    position: relative;
    bottom: 850px;
    left: 550px;   
}

#sandy {
    position: relative;
    bottom: 955px;
    left: 750px;
    box-shadow: 0px 5px 50px;
    width: 100px;
    height: 100px;
}

#gm {
    position: relative;
    bottom: 1048px;
    left: 1000px;
}

#green {
    position: relative;
    bottom: 1144px;
    left: 1200px;
}
